td {  font-family: 돋움; font-size: 10pt; color:#333333;  line-height: 120%}
div {  font-family:돋움; font-size: 10pt; color:#333333 ; line-height: 120%}
BODY {
SCROLLBAR-FACE-COLOR: #dddddd; FONT-SIZE: 10px; SCROLLBAR-SHADOW-COLOR: #dddddd; COLOR: #333333; 
SCROLLBAR-3DLIGHT-COLOR: #eeeeee; SCROLLBAR-ARROW-COLOR: 8CAEE4; 
FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; SCROLLBAR-DARKSHADOW-COLOR: #cccccc; SCROLLBAR-BASE-COLOR: #ffffff
}

td.trans {font-weight:bolder; font-family: "돋움"; font-size: 10pt; color:#FFFFFF;  line-height: 120%}
td.lists {font-weight:; font-family: "굴림"; font-size: 9pt; color:#333333;  line-height: 110%}
td.spearkes {font-weight:; font-family: "돋움"; font-size: 10pt; color:#555555;  line-height: 120%}

A:link    {font-family:돋움; color:#555555;font-size:10pt;text-decoration:none;}
A:visited {font-family:돋움; color:#555555;font-size:10pt;text-decoration:none;}
A:active  {font-family:돋움; color:#555555;font-size:10pt;text-decoration:none;}
A:hover   {font-family:돋움; color:#8CAEE4;font-size:10pt;text-decoration:none;}

.text1 {font-family:"굴림"; color:#000000;font-size:10pt;}
.text2 {font-family:"굴림"; color:#FF0000;font-size:10pt;}

.copy {font-family:"굴림"; color:#999999;font-size:8pt;}

ul,li{
	list-style: none;
        margin: 0;
	padding: 0;
}
.text_list{
        padding: 5px 0px 5px 5px;
}
.thumb_list{
	display: inline;
	background-color: #e3e3e3;
	width: 280px;
	text-align: center;
}
.thumb_list .lists{
	display: inline;
	float: left;
	width:124px;
	padding:0 8px 0 8px;
	margin:0 0 0 8px;
	text-align: center;
	background-color: #ffffff;
}
.thumb_list .lists div{
	width: 124px;
}
#slidenum{
        margin: 0;
        border: 0px;
        padding: 8px 0 0 0;
        vertical-align: middle;
        _vertical-align: top;
        text-align: center;
        font-weight: bold;
        color: #333333;
        font-size: 12px;
}