@charset "utf-8";


@font-face {
 font-family: 'KBFGText_L';
 src: local("☺"),  url(./font/KBFGTextL.eot?#iefix) format('embedded-opentype'),  url(./font/KBFGTextL.woff) format('woff');
 font-weight: 300;
 unicode-range: U+0-10FFFF;
}


@font-face {
 font-family: 'KBFGText_M';
 src: url(./font/KBFGTextM.eot);/*ie 호환성 보기*/
 src: local("☺"),  url(./font/KBFGTextM.eot?#iefix) format('embedded-opentype'),  url(./font/KBFGTextM.woff) format('woff');
 font-weight: 400;
 unicode-range: U+0-10FFFF;
}

@font-face {
 font-family: 'KBFGText_B';
 src:local("☺"),  url(./font/KBFGTextB.eot?#iefix) format('embedded-opentype'),  url(./font/KBFGTextB.woff) format('woff');
 font-weight: 700;
 unicode-range: U+0-10FFFF;
}
