@font-face {
font-family: 'KBFGText_M';
font-style: normal;
font-weight: 300;
src:  url(http://www.flowis.co.kr/font/KBFGDisplayL.woff) format('woff'), url(../font/KBFGDisplayL.eot) format('eot');
}


*{margin:0 auto;font-family:'KBFGText_M','nanumgothic';}

/* html,body {font-family: 'KBFGText_M';} */
body{ margin: 0 auto; font:normal 10pt 'KBFGText_M';}
img{ border: 0px;vertical-align: middle;}
a{ text-decoration:none}
ul,li {list-style:none;padding: 0;}


.wrap{ width: 480px; top: 45%; -webkit-transform: translate(0, -50%) !important; transform: translate(0, -50%) !important; position: absolute; left: 0; right: 0;}
.bold{ font-weight:600}
.white{ color:#ffffff}
.header{ width:440px;height:auto;padding: 2% 20px 6%;margin:0px;border-radius: 0 10px;	background:url(../img/top_banner_bg1.jpg);  background-size: cover;color:#ffcc00; font-size: 1.4em;font-weight: bold;}
.title_logo{ font-size: 0.7em;color:#fff;}
.logo_img{ width: 18px;}
.header_en{ width:170px;height:49px;background-image:url(../img/header_en.png);border-bottom:10px solid #f1b117;padding: 20px 0 0 310px;margin:0px}
.icon1{ width:13px;height:13px;background-image:url(../img/icon.png);float:left;margin:2px 5px 0 0}
.date{ font-size: 9pt;color:#cfcfcf;float: right; text-align: right; margin-top: 10px;}
.engMarginTop{/*margin-top: 10px!important;*/}
.content{width:480px;height:240px;position:relative;padding-top:10px}

.agenda{ padding-left:90px; line-height:15pt; }

.vod{ width:450px;height:auto;border-top:2px solid #4c4c4c;border-bottom:1px solid #4c4c4c;position:relative;left:15px;top:10px;padding:15px 0;display:inline-block}
.pr{ width:100%;height:auto;text-align:center; position:relative; background-image:url(../img/devider.png);position:relative;margin:0px auto}
.btn_pdf{ color:#828282; font-size: 0.8em;}
.btn_pdf>img { vertical-align: -4px;}
.qa{ float:right;right:10px}
.btnWhite { display: inline-block; background: #a5a5a5; margin-top: 10px; width: 70px; padding:5px 0; font-size: 11px; font-weight: 600; color: #fff; border: 1px solid #fff; border-radius: 4px; text-align: center; }
.btnWhite:hover { background-color: #fff; color:#666; border: 1px solid #a5a5a5; }
.yellow{ background-color:#fcaf17!important;}
.yellow:hover{ background-color: #fff!important; color:#fcaf17!important; border: 1px solid #fcaf17!important; }
.btn150{ background-color: #61564b; display: inline-block; color: #fff; margin:20px 0 0 0px; padding: 5px 15px; text-align:center; border-radius:5px; }
.btn150:hover{ background-color:#fcaf17; }
.btn150_2{ width:65px;height:22px;background-image:url(../img/btn_live.png);float:right;margin:2px 55px 0px -30px; text-align:center; }

.vod_title{ width:100px;font-weight:800;color:#3e3e3e;}
.contact{ width:200px;height:60px;float:right;text-align:right;margin:25px 20px 0 0;line-height:1.5;}
.contact_title{ border-bottom:1px solid #e5e5e5;margin-bottom: 5px;}
.contact_mail{ color:#f6bb5a;float: right;}

.footer{ width:100%;height:40px;background-color:#f5f5f5;text-align:center;}
.guide{ padding-top:12px;color:#838383;font-size: 10pt;}
.wmv{ color:#5297c5;text-decoration:none}
.pdf{ color:#fff; font-weight:bold;cursor: pointer; margin:2px -20px 0 0px;  text-decoration:none; }
.pdf:hover{ cursor:pointer; color:#000;font-weight:bold;}



/*플레이어----------------------------------------------------------------------------------------------------------------------------------------*/


.player_BG_color{ background-color: #eaeaea;  }

.player_wrap{   margin: 0 auto;  /*position: relative; top: 50%; transform: translateY(-50%);*/  text-align: center;  max-width: 1300px; min-width: 1300px; }
.player_wrap .logo_wrap{  margin: 0 auto; text-align: left; }
.player_wrap .logo_wrap,
.player_wrap .player_wraps{ padding:0 10px ; width: 100%;  box-sizing: border-box; }
.player_wrap .player_wraps{ padding-top:0; display: inline-block;  height: auto;}
.player_wrap .player_wraps>li{	display: inline-block;	float: left;  width: 68%;}
.player_wrap .player_wraps>li:last-child{  width: 31.5%;  margin-left: 0.5%; }

.player_wrap .player_wraps>li .slider-pro { font-family: 'Open Sans', Arial;}
.player_wrap .player_wraps>li .slider-pro .sp-selected-thumbnail {	border: 4px solid #000;}

.player_wrap .player_wraps>li .VideoLayer video{  width: 100%;  background: #000;}

.player_wrap .player_wraps>li .info_wrap{  width: calc(100% - 20px);  overflow-y: scroll;  /* height: 332px; 영상비율16대9*/  height:355px/*401pX*/;  padding: 10px;   display: inline-block;   background: #fff; margin-top: 0.5%;   text-align: left; }
.player_wrap .player_wraps>li .info_wrap.another_h{ height: 431px;}
.player_wrap .player_wraps>li .info_wrap.another_h390{height:390px}
.player_wrap .player_wraps>li .info_wrap>h3{  margin-bottom: 10px; font-weight: 600;  font-size: 1.235rem; }
.player_wrap .player_wraps>li .info_wrap>p{  font-size: 0.85rem;  line-height: 1.6; }

.slider-pro img.sp-image{ width:100% !important;}

/* .VideoLayer>iframe{width:100%; height:100%;} */

/* @media (max-height: 580px) and (orientation: landscape){
  .wrap{ */
    /* max-width: 960px; */
  /* }
  .player_wraps{
    max-width: none;
    min-width: none;
  }
  .player_wraps>li{max-height:370px;}
  .jw-flag-small-player .jw-display{
    padding-top:0 !important;
  }
  .logo_wrap{
  display: none;
  }
} */
/*모바일 세로*/

/*600px 이상*/
/* @media (min-width: 600px) and (orientation: portrait){
  .logo_wrap,.player_wraps{
    max-width: none;
    min-width: inherit;
  }
  .player_wraps>li,
  .player_wraps>li:last-child{
    float:none;
    width: 100%;
  }
  .info_wrap>p{
        font-size: 1.3rem;
        height:277px;
  }
} */
